.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#demo-image {
  width: 40%;
  height: 30%;
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 24%;
  right: 10%
}

#motto {
  width: 40%;
  position: fixed;
  top: 20%;
  left: 10%;
}

#get-started {
  position: fixed;
  top: 56%;
  right: 10%;
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

#login {
  position: fixed;
  top: 62%;
  right: 10%;
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

nav > p {
  cursor: pointer;
}

#submit-task {
  margin-left: auto;
  margin-right: auto
}

#tasks {
  overflow: scroll;
  height: 60vh
}

#details {
  overflow: scroll;
  height: 55vh;
  padding-top: 10px
}

#materials {
  overflow: scroll;
  height: 34vh;
  padding-top: 10px
}

#chat {
  width: 100%;
  height: 35%;
}

.edit-button, .comment-button {
  width: 20px;
  float: left
}

.comment-button {
  margin-left: 25%
}

.comment-count {
  margin-top: -5px;
  line-height: 25px;
  margin-left: 15%;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  background-color: red;
}

#delete-task {
  float: right
}

.project-card {
  margin: 5px;
}

.col-4 {
  padding-right: 2px;
  padding-top: 4px
}

.expert-card {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.expert-card-image {
  width: 50%
}

#incoming-messages {
  height: 90%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px
}

#dashboard-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0.5rem 1rem;
}

#right-dashboard {
  padding-right: 0px;
  padding-left: 0px
}

#user-image {
  width: 50%;
  border-radius: 98%;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  position: sticky
}

#projects {
  border: none !important
}

#pending {
  position: absolute;
  top: 10%
}

#details {
  h3 {
    border-bottom: 1px solid lightgrey
  }
  .card {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    .card-text {
      margin-bottom: 0px
    }
    .card-body {
      padding-top: 0px;
    }
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.modal-content {
  .modal-body {
    padding-top: 0px;
    #scroll {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .card {
        width: 40%;
        vertical-align: top;
        margin-right: 10px;
        height: 100%;
        display: inline-block;
        img {
          width: 100%;
        }
      }
    }
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  .card {
    display: inline-block;
  }
}

th {
  padding: .25rem !important
}