@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#call-to-action {
  align-content: right;
  position: absolute;
  top: 5%;
  right: 1%;
}

#motto {
  width: 100%;
  float: right;
}

#get-started {
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

#login {
  margin-left: 5%;
  margin-right: 7%;
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

nav > a, p {
  cursor: pointer;
}

#submit-task {
  margin-left: auto;
  margin-right: auto
}

#tasks {
  @include for-desktop-up {
    overflow: scroll;
    height: 55vh
  }
}

#details {
  @include for-desktop-up {
    overflow: scroll;
    height: 55vh
  }
  padding-top: 10px
}

#materials {
  @include for-desktop-up {
    overflow: scroll;
    height: 34vh;
  }
  padding-top: 10px
}

#chat {
  @include for-desktop-up {
    height: 39vh;
  }
  width: 100%;
}

.edit-button, .comment-button {
  width: 20px;
  float: left;
  cursor: pointer;
}

.comment-button {
  margin-left: 25%
}

.comment-count {
  margin-top: -5px;
  line-height: 25px;
  margin-left: 15%;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  background-color: red;
}

#delete-task {
  float: right
}

.project-card {
  margin: 5px;
}

.col-4 {
  padding-right: 2px;
  padding-top: 4px
}

.expert-card {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.expert-card-image {
  width: 50%
}

#incoming-messages {
  height: 90%;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px
}

#dashboard-container {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0.5rem 1rem gray;
  height: 95vh;
}

#right-dashboard {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
  height: 95vh;
}

#user-image {
  width: 50%;
  border-radius: 98%;
  top: 100%;
  margin-left: auto;
  margin-right: auto;
  position: sticky
}

#projects {
  border-bottom: 1px solid #d1d1d1
}

#projects:focus, #projects:hover {
  outline: none;
  color:#d1d1d1
}

#pending {
  position: absolute;
  top: 10%
}

#details {
  h3 {
    border-bottom: 1px solid lightgrey
  }
  .card {
    @include for-tablet-portrait-up {
      width: 20%;
    }
    @include for-desktop-up {
      width: 50%;
    }
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    .card-text {
      margin-bottom: 0px
    }
    .card-body {
      padding-top: 0px;
      padding-bottom: 10px
    }
    img {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
  button {
    padding-top: 0px;
    padding-bottom: 0px
  }
}

.modal-content {
  .modal-body {
    padding-top: 0px;
    #scroll {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      .card {
        width: 40%;
        vertical-align: top;
        margin-right: 10px;
        height: 100%;
        display: inline-block;
        img {
          width: 100%;
        }
      }
    }
  }
  .modal-footer {
    form {
      width: 100%;
    }
  }
}

th {
  padding: .25rem !important
}

#chat-overlay {
  background-color: rgba(0,0,0,0.2);
  height: 200%;
  h5 {
    line-height: 500%;
    font-style: italic;
  }
}

#messages-window {
  height: 90%
}

.btn-primary {
  background-color: #7095B9;
  border-color: #7095B9;
  border-radius: .25rem;
}

html, #root {
  background-color: rgba(195,184,159,0.30);
}

.row .project-card {
  padding: 15px;
  .card {
    box-shadow: 0px 0rem 1rem 0px gray;
  }
}

.modal-footer {
  .card {
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
}

.rounded-pill {
  border-radius: .25rem !important;
}

.sign-up {
  float: right
}

.CircularProgressbar {
  width: 50%;
}

.purple {
  background-color: #41AE86;
  color: white
}

.blue {
  background-color: #8F1C3F;
  color: white;
}