.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#demo-image {
  width: 40%;
  height: 30%;
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 24%;
  right: 10%
  
}

#motto {
  width: 40%;
  position: fixed;
  top: 20%;
  left: 10%;
}

#get-started {
  position: fixed;
  top: 56%;
  right: 10%;
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

#login {
  position: fixed;
  top: 62%;
  right: 10%;
  width: 40%;
  background-color: #8F1C3F;
  border-color: #8F1C3F;
}

#nav-bar {
  background-color: #8F1C3F !important;
}

.navbar-light .navbar-brand {
  color: #F1F1E8
}

.navbar-light .navbar-nav .nav-link {
  color: #F1F1E8
}

.dropdown-menu {
  left: -60px
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

nav > p {
  cursor: pointer;
}

#submit-task {
  margin-left: auto;
  margin-right: auto
}

#tasks {
  overflow: scroll;
  height: 70vh
}

#materials {
  overflow: scroll;
  height: 30vh;
}

.edit-button {
  width: 20px;
}

#delete-task {
  float: right
}
